---
layout: zakladni
pagination:
  data: filmy
  size: 1
  alias: film
permalink: "/film/{{ film.nazev | slug }}/"
nadpis: {{ film.nazev}}
---

<div class="telo__obsah">
  <div class="film-detail">
    <main class="film-detail__hlavni">
      <h2 class="hlavni-nadpis">{{ film.nazev }}</h2>
        <dl class="film-detail__podrobnosti">
          <dt class="film-detail__popisek">Rok:</dt>
          <dd>{{ film.rok }}</dd>
          <dt class="film-detail__popisek">Země:</dt>
          <dd>{{ film.zeme | join (', ') }}</dd>
          <dt class="film-detail__popisek">Žánr:</dt> 
          <dd>{{ film.zanr | join (' / ') }}</dd>
          <dt class="film-detail__popisek">Délka:</dt>  
          <dd>{{ film.delka }} minut</dd>
      </dl>

      <h3 class="podnadpis">Obsah</h3>
      <p>{{ film.obsah.text }}
      {% if film.obsah.autor.odkaz %}
      (<a class="autor__odkaz"href="{{film.obsah.autor.odkaz}}">{{film.obsah.autor.jmeno }}</a>)
      {% else %}
      <span class="autor__samotneJmeno">({{film.obsah.autor.jmeno }})</span>
      {% endif %}</p>
   </main>
    <aside class="film-detail__vedlejsi">
      <img class="film-plakat" src="{{ film.plakat.url }}" alt="{{ film.nazev }}" width="{{ film.plakat.sirka }}" height="{{ film.plakat.vyska }}">
      <h3 class="podnadpis">Hodnocení</h3>
      <div class="hvezdy hvezdy-skore__{{ film.hodnoceni }}">
      </div>
      {% if film.souvisejici | length > 0 %}
      <h3 class="podnadpis">Související filmy</h3>
      <ul class="filmy-seznam">
      {% for souvisejiciFilm in film.souvisejici %}
        <li class="filmy-seznam__polozka"><a class="filmy-seznam__odkaz" href="/film/{{ souvisejiciFilm.nazev | slug }}">{{  souvisejiciFilm.nazev }}</a></li>
      {% endfor %}
      </ul>
      {% endif %}
    </aside>
  </div>
</div>

